{% load static from staticfiles %}
<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset="utf-8">
  <title>GroupVPN Web Configurator</title>
  <link rel=stylesheet href="{% static "groupvpn_webui/style.css" %}">
  {% block extracss %}{% endblock %}
</head>
<body>
<p><a href="http://ipop-project.org/">« Return to the IPOP Project</a>
<h1>GroupVPN Web Configurator</h1>
<p>This tool lets you quickly configure GroupVPN groups using our XMPP server.
Guest users are limited to groups with only two machines. Registered users can
create groups with up to 50 machines.
<nav>
  {% if user.is_authenticated %}
  <a href="/user/logout/">Log out ({{ user.email }})</a>
  {% else %}
  <a href="/user/login/">Log in</a>
  <a href="/user/register/">Register</a>
  {% endif %}
  <a href="/config/">Home</a>
  <a href="/config/new/">New Configuration</a>
</nav>
{% block main %}
{% endblock %}
</body>
</html>
