{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block body %}
<form method={{ method }} action="{{ action_url }}">
  <ul class=form>
    {{ render_field(form.group_name) }}
    {{ render_field(form.custom_xmpp_host) }}
    {{ render_field(form.machine_count) }}
    {{ render_field(form.ip_network) }}
    {{ render_field(form.end_to_end_security) }}
  </ul>
  <p><input type=submit value="Submit">
</form>
{% if configs %}
<h2>Configuration files:</h2>
{% for config in configs %}
<h3><code>{{ config.filename }}</code></h3>
<pre><code>{{ config.data }}</code></pre>
{% endfor %}
{% endif %}
{% endblock %}
